// Merge into android/app/build.gradle after `flutter create`:
//
// android {
//   defaultConfig {
//     minSdkVersion 24
//     multiDexEnabled true
//   }
//   packagingOptions {
//     jniLibs {
//       useLegacyPackaging true
//     }
//   }
// }
//
// The GitHub workflow sets minSdk=24 automatically.
